* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1090px;
  margin: auto;
  padding: 0 15px;
}

header {
  background-color: var(--blue-white);
  /* background-image: url(../images/bg-banner.png); */
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 23px;
  padding-bottom: 116px;
  position: relative;
}

.dark_btn {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  padding: 17px 41px;
  border-radius: 5px;
}

/* Start Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav .nav-links {
  display: flex;
  ul {
    display: flex;
    gap: 45px;

    a {
      font-family: Poppins;
      font-size: 15px;
      font-weight: 500;
      line-height: 17.4px;
      text-align: left;
      color: var(--black);
    }
  }
}

.nav_phone {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: var(--black);
}
/* End Nav */

/* Start Banner */
#banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;

  h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 50.4px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: var(--black);
  }

  h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: var(--black);
  }

  p {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.4px;
    letter-spacing: 1px;
    max-width: 433px;
    color: var(--black);
    margin-bottom: 50px;

    span {
      color: var(--blue);
      text-decoration-line: underline;
    }
  }
}

#banner > div:first-child {
  max-width: 568px;
}
/* End Banner */

/* Start Info section */
#info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  background-color: var(--blue);
  position: absolute;
  bottom: -80px;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;

  h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: var(--white);
  }

  p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: var(--white);
  }
}

#info > div:nth-child(2) {
  border-left: 1px solid #1d4782;
  border-right: 1px solid #1d4782;
}
/* End Info section */

/* Start Skip section */
#skip {
  padding-top: 100px;
  padding-bottom: 95px;
  background-color: var(--cyan);
  p {
    font-family: Mulish;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-bottom: 65px;
    color: var(--blue);
  }
  .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h2 {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 700;
      line-height: 37.12px;
      text-align: left;
      color: var(--black);
    }

    h3 {
      font-family: Mulish;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      color: var(--grey);
    }
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;

    div {
      padding: 30px;
      background-color: var(--white);

      h3 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: left;
        color: var(--blue);
      }

      p {
        font-family: Mulish;
        font-size: 17px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        color: var(--grey);
        margin-bottom: 0;
      }
    }
  }
}
/* End Skip section */

/* Start lr section */
#lr {
  .left,
  .right {
    padding-top: 64px;
    padding-bottom: 64px;

    .container {
      display: flex;
      gap: 15px;
    }
  }

  .right {
    background-color: var(--cyan);
  }

  h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: var(--blue);
  }

  h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.4px;
    text-align: left;
    color: var(--black);
  }

  p {
    font-family: Mulish;
    font-size: 17px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    color: var(--grey);
  }

  .mt-3 {
    margin-top: 32px;
  }

  .mb-5 {
    margin-bottom: 50px;
  }
}
/* End lr section */
